<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">

    <!-- Define the test suites to run -->
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Convert various PHP errors to exceptions -->
    <failOn>
        <error>true</error>
        <failure>true</failure>
        <warning>true</warning>
    </failOn>

    <!-- Optional: Configure test coverage report -->

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>


</phpunit>